* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Brand Colors */
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  /* Accent Colors */
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  /* Feedback Colors*/
  --danger: #ff5959;

  /* Input Colors */
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  /* Shape Colors */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /* Text Colors */
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /* Typography */

  --leckerli-one: "Leckerli One", sans-serif;
  --baloo-2: "Baloo 2", sans-serif;
  --open-sans: "Open Sans", sans-serif;

  --text-logo: 400 2.5rem/normal var(--leckerli-one);
  --heading-md: 700 1.75rem/normal var(--baloo-2);
  --heading-sm: 700 1.125rem/normal var(--baloo-2);
  --body-md: 400 1rem/normal var(--open-sans);
  --body-sm: 400 0.875rem/normal var(--open-sans);
  --body-xs: 400 0.75rem/normal var(--open-sans);
}

body {
  overflow: hidden;
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}
